.nosearch {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  &:before {
    content: url('../../image/no_search.svg');
    width: 63px;
    height: 63px;
  }

  &_teg {
    padding-top: 24px;
  }

  .text_nosearch {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.5;
    color: grey;
  }
}
